<h1 class="mb-4 text-center">Editar Estado</h1>

<form action="/estados/{{estado.id}}?_method=PUT" method="POST" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" class="form-control" value="{{estado.descripcion}}" required>
    <div class="invalid-feedback">
      Por favor ingrese la descripción.
    </div>
  </div>

<div class="text-right">
    <a href="/estados" class="btn btn-secondary">Volver a la lista de estados</a>
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>
