<h1 class="mb-4">Editar Rol</h1>
<form action="/roles/{{rol.id}}?_method=PUT" method="POST" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" class="form-control" value="{{rol.descripcion}}" required>
    <div class="invalid-feedback">
      Por favor ingrese la descripción.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Actualizar</button>
  <a href="/roles" class="btn btn-secondary">Volver a la lista de roles</a>
</form>
